:root {
  --lead-color: #00acdc;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, Arial, serif;
  font-style: normal;
  font-weight: 500;
}

a {
  text-decoration: none;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
}

.nav__link {
  margin: 0 10px;
  position: relative;
  font-size: 12px;
}

.nav__link__item {
  color: black;
  text-decoration: none;
}

.is-active {
  color: var(--lead-color);
}

.is-active::after {
  content: '';
  background-color: var(--lead-color);
  height: 4px;
  width: 100%;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:last-child {
  margin-right: 0;
}

a:hover {
  color: var(--lead-color);
}
